.grid-item {
    padding: 20px;
    border: 1px solid darkblue;
    background-color: lightblue;
    text-align: center;
    font-size: 2rem;
}

#grid1 {
    padding: 10px;
    background-color: cyan;
}

#grid2 {
    background-color: darkblue;
    padding: 10px;
}

#grid2 div {
    background-color: lightblue;
    text-align: center;
    font-size: 3rem;
}